body.home::before, body.home::after {
	display: none !important;
}

#customize-hero {
    text-shadow: 2px 4px #000;
}

a.button {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    text-shadow: none;
}

#enroll {
    font-size: 2em;
    color: white;
    border: solid 2px white;
    padding: 10px 15px;
    margin: 10px auto;
    transition: all 0.25s ease-in-out;
    line-height: 1.5em;
}

#enroll:hover {
    background:white;
    color: black;
}

@media screen and (max-width: 600px) {
    #customize-hero .wrap-inner{
        padding: 15px 10px;
    }
    #customize-hero-title {
        font-size: 2.5em !important;
    }
}