.bg-department {
  background-color: $denim;

}

.bg-university-global {

  background-color: $pitch;
  color: $lightning;
}

.bg-university-global h1 {
  background-color: $pitch;
}


.btn-department-highlight {
  background-color: $milk;

}

.navbar-dark .navbar-nav .nav-link {

  color: $ash;
}

.denim-department .bg-transparent-white h1 {
  color: $denim
}

.denim-department .bg-transparent-white p {
  color: $midnight;
}

.denim-department .bg-transparent-white a {
  color: $pitch;
}


.bg-transparent-white {

  background-color:rgba(255, 255, 255, 0.8);
}