.bg-department {
  background-color: $denim;

}

.bg-university-global {

  background-color: $pitch;
  color: $lightning;
}


.btn-department-highlight {
  background-color: $milk;

}

.navbar-dark .navbar-nav .nav-link {

  color: $ash;
}

